[Unit]
Description=supervisor keeper. by tyson
After=rc-local.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/python /root/sscmdrun/runa.py
WorkingDirectory=/root
#SysVStartPriority=99
Restart=always

[Install]
WantedBy=multi-user.target
